<!DOCTYPE html>
<html lang="fr" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO maraige</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        h1{
            text-align: center;
            margin-top: 50px;
        }
        .logo, footer {
            text-align: center;
        }
        hr {
            margin-bottom: 2em;
        }

        #logo{
            width: 50%;
            border-radius: 20px;
            box-shadow: pink 2px 2px 2px 2px;
        }

        th{
            text-align: center;
            background-color: black;
            color: #fff;
        }

        #home:hover{
            width: 80px;
            background-color:pink;
            border-radius: 50%;
        }



    </style>
</head>

<body>
    <div class="container-fluid">
        <a href="/tasks"><img id="home" width="50px" src="https://api.iconify.design/uim:arrow-circle-left.svg" alt="home">Home</a>
        <h1>tâche précise avec son ID❤️</h1>

        <div class="logo">
            <img id="logo" src="https://images.unsplash.com/photo-1511285560929-80b456fea0bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2938&q=80" alt="logo">
        </div>
        <hr>
        <table>
            <thead>
              <tr>
                <th colspan="4">id de tâche concernant: <%= task.id %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= task.title %></td>
                <td> <%= task.description %></td>
                <td><%= task.date %></td>
                <td><%= task.status %></td>
              </tr>
            </tbody>
          </table>
        <footer>
            <p>Cours de NodeJS - Li</p>
        </footer>

</body>

</html>